# Created by .ignore support plugin (hsz.mobi)
### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
/wal
/snapshot
/schema

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/*

.vscode/
viper
.idea
.local
bazel-*
*coverprofile
coverage.html
test_config.json
test_wal_file
viper-client
internal/config/config.local.json

client/message.eml
client/save_message.json
client/userinfo.json
